@font-face {
    font-family: 'opensans-regular';
    src: url('../fonts/Open_Sans/static/OpenSans-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'opensans-italic';
    src: url('../fonts/Open_Sans/static/OpenSans-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'opensans-bold';
    src: url('../fonts/Open_Sans/static/OpenSans-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'opensans-bold-italic';
    src: url('../fonts/Open_Sans/static/OpenSans-BoldItalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'opensans-light';
    src: url('../fonts/Open_Sans/static/OpenSans-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'opensans-light-italic';
    src: url('../fonts/Open_Sans/static/OpenSans-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'opensans-medium';
    src: url('../fonts/Open_Sans/static/OpenSans-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'opensans-meidum-italic';
    src: url('../fonts/Open_Sans/static/OpenSans-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'opensans-semi-bold';
    src: url('../fonts/Open_Sans/static/OpenSans-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'opensans-semi-bold-italic';
    src: url('../fonts/Open_Sans/static/OpenSans-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'opensans-extra-bold';
    src: url('../fonts/Open_Sans/static/OpenSans-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'opensans-extra-bold-italic';
    src: url('../fonts/Open_Sans/static/OpenSans-ExtraBoldItalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}


body
{
    font-family: 'opensans-bold';
    margin: 0;
    background-color: #79A2D4;
    overflow-x: hidden;
    color: white;
}

.hero-box
{
    background-color: #2A4178;
    padding: 3vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: right;
    line-height: 5vh;
}

.hero-box img
{
    width: 50vw;
    border-radius: 1vw;
}

.hero-text p
{
    font-family: 'opensans-regular';
    width: 30vw;
    font-size: 26px;
}

main
{
    padding: 5vw;
    padding-top: 20vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.tabs
{
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.tab-buttons
{
    display: flex;
    justify-content: space-between;
    width: 70vw;
}

.tabs a
{
    text-decoration: none;
    color: #2A4178;
    padding-inline: 1.5vw;
    padding-block: 0.5vh;
    border-radius: 0.5vw;
}

.tab-buttons a:hover
{
    background-color: #2A4178;
    color: #79A2D4;
}

.tab-button.active {
  background: #2A4178;
  color: #79A2D4;
}


.horizontal-line
{
    border-top: 3px solid #2A4178;
    width: 75vw;
    margin-top: 1vh;
}

.culture-box
{
    background-color: #2A4178;
    padding-block: 2vw;
    margin-top: 5vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    border-radius: 1vw;
}

.culture-box img
{
    width: 40vw;
    height: 45vh;
    border-radius: 1vw;
    box-shadow: 0 12px 30px rgba(255, 255, 255, 0.25);
}

.culture-text
{
    width: 20vw;
    padding: 2vw;
    background-color: #79A2D4;
    color: #2A4178;
    border-radius: 1vw;
    box-shadow: 0 12px 30px rgba(255, 255, 255, 0.25);
}

.culture-box p
{
    text-shadow: 0.1px 0.1px 3px rgba(0, 0, 0, 0.3);
    font-size: 20px;
    font-family: 'opensans-regular';
}