@font-face {
    font-family: 'opensans-regular';
    src: url('../fonts/Open_Sans/static/OpenSans-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'opensans-italic';
    src: url('../fonts/Open_Sans/static/OpenSans-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'opensans-bold';
    src: url('../fonts/Open_Sans/static/OpenSans-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'opensans-bold-italic';
    src: url('../fonts/Open_Sans/static/OpenSans-BoldItalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'opensans-light';
    src: url('../fonts/Open_Sans/static/OpenSans-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'opensans-light-italic';
    src: url('../fonts/Open_Sans/static/OpenSans-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'opensans-medium';
    src: url('../fonts/Open_Sans/static/OpenSans-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'opensans-meidum-italic';
    src: url('../fonts/Open_Sans/static/OpenSans-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'opensans-semi-bold';
    src: url('../fonts/Open_Sans/static/OpenSans-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'opensans-semi-bold-italic';
    src: url('../fonts/Open_Sans/static/OpenSans-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'opensans-extra-bold';
    src: url('../fonts/Open_Sans/static/OpenSans-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'opensans-extra-bold-italic';
    src: url('../fonts/Open_Sans/static/OpenSans-ExtraBoldItalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}


body
{
    font-family: 'opensans-bold';
    margin: 0;
    background-color: #79A2D4;
    display: flex;
    justify-content: center;
    align-content: center;
}

main
{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 75%;
    height: 70vh;
    flex-direction: column;
}

.title
{
    color: white;
}

.title h1
{
    font-size: 45px;
}

.title p
{
    font-size: 30px;
    font-family: 'opensans-regular';
}

.countries
{
    color: white;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    gap: 2vw;
    margin: 2vw;
}

.country-card
{
    padding: 1vw;
    background-color: #2A4178;
    max-width: 20vw;
    border-radius: 2vw;
}

.country-card img
{
    max-width: 10vw;
}

.country-card p
{
    font-family: 'opensans-regular';
}