@font-face {
    font-family: 'opensans-regular';
    src: url('fonts/Open_Sans/static/OpenSans-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'opensans-italic';
    src: url('fonts/Open_Sans/static/OpenSans-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'opensans-bold';
    src: url('fonts/Open_Sans/static/OpenSans-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'opensans-bold-italic';
    src: url('fonts/Open_Sans/static/OpenSans-BoldItalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'opensans-light';
    src: url('fonts/Open_Sans/static/OpenSans-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'opensans-light-italic';
    src: url('fonts/Open_Sans/static/OpenSans-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'opensans-medium';
    src: url('fonts/Open_Sans/static/OpenSans-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'opensans-meidum-italic';
    src: url('fonts/Open_Sans/static/OpenSans-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'opensans-semi-bold';
    src: url('fonts/Open_Sans/static/OpenSans-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'opensans-semi-bold-italic';
    src: url('fonts/Open_Sans/static/OpenSans-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'opensans-extra-bold';
    src: url('fonts/Open_Sans/static/OpenSans-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'opensans-extra-bold-italic';
    src: url('fonts/Open_Sans/static/OpenSans-ExtraBoldItalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}


body
{
    font-family: 'opensans-bold';
    margin: 0;
    background-color: #79A2D4;
    overflow-x: hidden;
}

header
{
    display: flex;
    justify-content: space-between;
    background-color: #79A2D4;
    color: white;
    padding-inline: 1vw;
    padding-block: 1vh;
    font-size: 16px;
}

.logo
{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5vw;
    color: white;
}

.logo img
{
    width: 2vw;
    height: 2vh;
}

nav ul
{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    gap: 2vw;
}

nav a
{
    text-decoration: none;
    color: white;
}

.hero-image
{
    width: 100%;
    height: 91.5vh;
    position: relative;
}

.hero-text-box
{
    background-color: #2A4178;
    display: flex;
    justify-content:space-between;
    color: white;
    width: 50vw;
    height: 30vh;
    border-radius: 2vw;
    align-items: center;
    position: absolute;
    top: 42vw;
    left: 53vw;
}

.left-hero-text h2, h3 ,h4
{
    margin: 0;
}

.left-hero-text
{
    line-height: 5vh;
    text-align: center;
    padding: 3vw;
    align-items: center;
}

.vertical-line
{
    border: 1.5px solid #79A2D4;
    height: 29.2vh;
    margin: 0;
}

.right-hero-text p
{
   margin: 0;
   line-height: 3vh;
}

.right-hero-text
{
     padding: 3vw;
     align-items: center;
     padding-top: 6.5vh;
     padding-right: 5vw;
     font-size: 18px;
}

.video
{
    display: flex;
    justify-content: center;
    margin-block: 25vh;
}

video
{
   width: 90vw;
   height: auto;
}

.white-box1
{
    background-color: white;
    width: 70vw;
    height: 40vh;
    border-radius: 2vw;
    display: flex;
    align-items: center;
    margin-left: -1.5vw;
}

.dark-blue-box1
{
    background-color: #2A4178;
    color: white;
    width: 68vw;
    height: 35vh;
    border-radius: 2vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
}

.dark-blue-box1 p
{
    max-width: 60vw;
}

.map
{
    display: flex;
    justify-content: space-between;
    margin: 5vw;
    margin-top: 25vh;
    gap: 5vw;
}

.bulgaria-map
{
    width: 50%;
    height: 50vh;
    border: 0;
    border-radius: 2vw;
}

.white-box2
{
    background-color: white;
    width: 50%;
    height: 50vh;
    border-radius: 2vw;
    display: flex;
    align-items: center;
    justify-content: end;
    margin-right: -7vw;
}

.dark-blue-box2
{
    background-color: #2A4178;
    color: white;
    width: 43vw;
    height: 45vh;
    border-radius: 2vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    box-shadow: -10px 10px 10px rgba(0, 0, 0, 0.5);
}

.dark-blue-box2 ul
{
    max-width: 35vw;
    line-height: 5vh;
}

.horizontal-line
{
    border: 1px solid white;
    width: 50vw;
    justify-self: center;
    margin-bottom: 10vh;
    margin-top: 20vh;
}

footer
{
    background-color: #2A4178;
}

.footer-text
{
    background-color: #2A4178;
    padding: 4vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-footer-text
{
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 6vh;
}

.social-media img
{
    width: 2vw;
    height: auto;
    color: white;
    padding: 0.3vw;
}

.right-footer-text
{
    display: flex;
    flex-direction: row;
    line-height: 6vh;
    gap: 5vw;
    text-align: start;
}

.explore-section
{
    color: white;
    line-height: 5vh;
}

.explore-section h1
{
   padding: 0;
}

.explore-section ul
{
    list-style-type: none;
    padding: 0;
}

.explore-section a
{
    text-decoration: none;
    color: white;
}

.explore-section li
{
    font-family: 'opensans-regular';
    padding: 0;
}

.legal-section
{
    color: white;
    line-height: 5vh;
}

.legal-section h1
{
   padding: 0;
}

.legal-section ul
{
    list-style-type: none;
    padding: 0;
}

.legal-section li
{
    font-family: 'opensans-regular';
}

.contact-section
{
    color: white;
    line-height: 5vh;
}

.contact-section h1
{
   padding: 0;
}

.contact-section ul
{
    list-style-type: none;
    padding: 0;
}

.contact-section li
{
    font-family: 'opensans-regular';
}

.footer-line
{
    border: 1px solid white;
    width: 100%;
}

.copyright-text
{
    margin: 0;
    color: white;
    text-align: right;
    font-family: 'opensans-regular';
    padding: 1vw;
}